{%  extends 'FimakSiteBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <header>
        <h1>About me</h1>
    </header>
    <article>
        <p>Hi all. My name is Aleksandr Ufimtsev. I'm professional web developer from Russia, Omsk(UTC+7).</p>
        <p>I'm expert in: <ul><li>PHP</li><li>MySQL</li><li>JS</li></ul></p>
        <p><a href="https://www.odesk.com/users/~01dec4ed59037a6361">Hire me</a></p>
    </article>
{% endblock %}